<%# render "layouts/navbar" %>

  <h2 class="text-center">Patient Charts by Name as of <%= Time.now.in_time_zone("America/New_York").strftime("%Y-%m-%d %H:%M") %></h2>
  
  <button onclick="window.print()", class="btn btn-sm btn-outline-success outline-double rounded-pill px-3 py-0 fw-bold" >Print This Page</button>

  <table class="table table-sm table-striped table-hover mt-2">
    <thead class="table-info fs-6">
      <tr>
        <th style="width:vw12">Name</th>
        <th style="width:100px">Date Entered</th>
        <th style="width:vw20">Subjective</th>
        <th style="width:vw12">Objective</th>
        <th style="width:vw10">Assessment</th>
        <th style="width:vw36">Plan</th>
      </tr>
    </thead>
    </tbody>
      <% @name = 0 %>
      <% @chart_name.each do |chart| %>
        <tr style="height:15px">
        <% @name != chart.name ? show_name = chart.name : show_name = " " %>
        <td><%= link_to show_name, regi_charts_path(chart.regi_id) %></td>
        <% @name = chart.name %>
        <td><%= chart.t_date %></td>
        <td><%= chart.subj %></td>
        <td><%= chart.obj %></td>
        <td><%= chart.assess %></td>
        <td><%= chart.plan %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

