
<%# render "layouts/navbar" %>

<h2 class="text-center">All Patient Charts by Date as of <%= Time.now.in_time_zone("America/New_York").strftime("%Y-%m-%d %H:%M") %></h2>


<%= link_to 'All Charts by Name', overviews_chart_name_path, class:"btn btn-sm btn-outline-dark outline-double rounded-pill px-2 py-0 m-1 fw-bold" %>
<%= link_to 'All Patient Info', overviews_patient_info_path, class:"btn btn-sm btn-outline-info outline-double rounded-pill px-2 py-0 m-1 fw-bold" %>
<%= link_to 'Patient List', regis_path, class:"btn btn-sm btn-outline-primary outline-double rounded-pill px-2 py-0 m-1 fw-bold" %>
<button onclick="window.print()", class="btn btn-sm btn-outline-success outline-double rounded-pill px-3 py-0 fw-bold">Print This Page</button>

<table class="table table-sm table-striped table-hover mt-2">

  <thead class="table-info fs-6">
    <tr>
      <th style="width:150px">Date</th>
      <th style="width:12vw">Name</th>
      <th style="width:18vw">Subjective</th>
      <th style="width:12vw">Objective</th>
      <th style="width:10vw">Assessment</th>
      <th style="width:36vw">Plan</th>
    </tr>
  </thead>

  </tbody>
    <% show_date = "" %>
    <% Chart.joins(:regi).order(t_date: :desc).each do |chart| %>
    
    <tr style="height:15px" class="fs-4">
        <% show_date != chart.t_date ? show_date = chart.t_date : show_date = "" %>
      <td><%= show_date %></td> 
        <% show_date = chart.t_date %>
      <td><%= link_to chart.regi.p_name, regi_charts_path(chart.regi_id) %>(<%= chart.regi.p_age %>)</td>
      <td><%= chart.subj %></td>
      <td><%= chart.obj %></td>
      <td><%= chart.assess %></td>
      <td><%= chart.plan %></td>
    </tr>
    <% end %>
  </tbody>
</table>

