<%# render "layouts/navbar" %>

  <h2 class="text-center">All Patient Charts by Name as of <%= Time.now.in_time_zone("America/New_York").strftime("%Y-%m-%d %H:%M") %></h2>
  
  <%= link_to 'All Charts by Date', overviews_chart_date_path, class:"btn btn-sm btn-outline-dark outline-double rounded-pill px-2 py-0 m-1 fw-bold" %>
  <%= link_to 'All Patient Info', overviews_patient_info_path, class:"btn btn-sm btn-outline-info outline-double rounded-pill px-2 py-0 m-1 fw-bold" %>
  <%= link_to 'Patient List', regis_path, class:"btn btn-sm btn-warning outline-double rounded-pill px-2 py-0 m-1 fw-bold" %>
  <button onclick="window.print()", class="btn btn-sm btn-outline-success outline-double rounded-pill px-3 py-0 fw-bold" >Print This Page</button>

  <table class="table table-sm table-striped table-hover mt-2">
    <thead class="table-info fs-6">
      <tr>
        <th style="width:150px">Name</th>
        <th style="width:8vw">Date Treated</th>
        <th style="width:18vw">Subjective</th>
        <th style="width:14vw">Objective</th>
        <th style="width:10vw">Assessment</th>
        <th style="width:36vw">Plan</th>
      </tr>
    </thead>
    <tbody>
      <% last_patient_id = nil %>
      
      <% @charts.each do |chart| %>
        <tr style="height:15px">
          <td>
            <% if chart.regi_id != last_patient_id %>
              <%= link_to "#{chart.regi.p_name} (#{chart.regi.p_age})", regi_charts_path(chart.regi_id) %>
            <% end %>
          </td>
          
          <td><%= chart.t_date %></td>
          <td><%= chart.subj %></td>
          <td><%= chart.obj %></td>
          <td><%= chart.assess %></td>
          <td><%= chart.plan %></td>
        </tr>
        
        <% last_patient_id = chart.regi_id %>
      <% end %>
    </tbody>
  </table>

