<%# render "layouts/navbar" %>
  
  <h2 class="text-center">All Patient Information as of <%= Time.now.in_time_zone("America/New_York").strftime("%Y-%m-%d %H:%M") %></h2>

  <%= link_to 'All Charts by Date', overviews_chart_date_path, class:"btn btn-sm btn-outline-dark outline-double rounded-pill px-2 py-0 m-1 fw-bold" %>
  <%= link_to 'All Charts by Name', overviews_chart_name_path, class:"btn btn-sm btn-outline-info outline-double rounded-pill px-2 py-0 m-1 fw-bold" %>
  <%= link_to 'Patient List', regis_path, class:"btn btn-sm btn-outline-primary outline-double rounded-pill px-2 py-0 m-1 fw-bold" %>
  <button onclick="window.print()", class="btn btn-sm btn-outline-success outline-double rounded-pill px-3 py-0 fw-bold">Print This Page</button>

  <table class="table table-sm table-striped table-hover mt-2">
    <thead class="table-success fs-6">
    <tr style="height:13px">
        <th>Name</th>
        <th>Date Entered</th>
        <th>Contact Info</th>
        <th>Weight</th>
        <th>Complaints</th>
        <th>Onset/Pain</th>
        <th>Referred</th>
        <th>Health History</th>
      </tr>
    </thead>
    </tbody>
      <% show_name = "" %>
      <% Patient.joins(:regi).order("regi.p_name").each do |patient| %>
        <tr style="height:15px">
          <td>
            <% show_name == patient.regi.p_name ? show_name = "" : show_name = "#{patient.regi.p_name} (#{patient.regi.p_age})" %>
             <%= link_to show_name, regi_patient_path(patient.regi_id, patient) %>
          <td>
          <%= patient.v_date %>
          </td>
          <td>
            <%= patient.street %><%= ', ' if patient.street? %>
            <%= patient.city %>
            <%= patient.state %>
            <%= patient.zip %>
            <%= 'C: ' if patient.cell? %><%= patient.cell %>
            <%= 'H: ' if patient.home? %><%= patient.home %>
            <%= 'W: ' if patient.work? %><%= patient.work %>
            <%= 'E: ' if patient.email? %><%= patient.email %>
          </td>
          <td><%= patient.weight %></td>
          <td>
            <%= patient.com1.strip if patient.com1? %>
            <%= ' / ' + patient.com2.strip if patient.com2? %>
            <%= ' / ' + patient.com3.strip if patient.com3? %>
          </td>
          <td>
            <%= patient.d_onset %><%= '/Pain: ' if patient.pain_scale? %>
            <%= patient.pain_scale %>
          </td>
          <td><%= patient.referred %></td>
          <td>
            <%= patient.di_list.to_sentence(words_connector: '/', last_word_connector: '/').gsub(/_/, ' ').gsub(/;/, '') if patient.di_list != "" %>
            <%# patient.di_list.gsub(/_/, ' ').gsub(/;/, '').gsub(/"/, '').gsub(/\]/, '').gsub(/\[/, '') if patient.di_list != "" %>
            <%= ' and ' + patient.o_dis if patient.o_dis? %>
            <%= 'and Pregnant' if patient.preg == 'Yes' %>
          </td>
          <% show_name = patient.regi.p_name %>
        </tr>
      <% end %>
    </tbody>
  </table>
