<h2 class="text-center pb-3">Patient Files as of <%= Time.now.strftime("%Y-%m-%d %H:%M") %></h2>
<%= render 'layouts/identifier' %>

<div class="d-flex align-items-center justify-content-center mx-2 gap-1">
  <%= link_to 'New Filing', new_regi_filing_path(params[:regi_id]), class: "btn btn-dark border border-light border-3 rounded-pill px-3 py-0 m-1 fw-bold" %>
  <%= link_to 'Patient Info', regi_patients_path, class:"btn btn-primary border border-light border-3 rounded-pill px-3 py-0 m-1 fw-bold" %>
  <%= link_to 'Patient Charts', regi_charts_path, class:"btn btn-success border border-light border-3 rounded-pill px-3 py-0 m-1 fw-bold" %>
  <%= link_to 'Patient List', regis_path, class:"btn btn-warning border border-light border-3 rounded-pill px-3 py-0 m-1 fw-bold" %>
  <%= link_to 'Go Back', :back, class:"btn btn-secondary border border-light border-3 rounded-pill px-3 py-0 m-1 fw-bold" %>
</div>
<div class="card-body">
<div class="card mt-3 mx-auto border-primary" style="width: 48rem;">
  <div class="card shadow border-dark">

      <table class="table table-sm table-striped table-hover custom-table mt-3">
        <thead class="table-info fs-6">
          <tr>
            <th style="width: 20%;">Filing Date</th>
            <th style="width: 10%;">File</th>
            <th>Description</th>
            <th class="text-center" style="width: 40%;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @filings.order("created_at DESC").each do |filing| %>
            <tr>
            <td><%= filing.f_date %></td>
              <td>
                <% if filing.image.attached? && filing.image.image? %>
                  <%= image_tag filing.image, height: "25px" %>
                <% else %>
                  <%= 'PDF' %>
                <% end %>
              </td>
              <td><%= filing.describe %></td>
              <td>
                <div class="btn-group" role="group">
                <% if filing.image.attached? %>
                  <%= link_to 'View', filing.image, class: "btn btn-sm btn-outline-primary border border-light border-3 rounded-pill px-3 m-2 fw-bold" %>
                <% else %>
                  <button class="btn btn-sm btn-outline-secondary border border-light border-3 rounded-pill px-3 m-2 fw-bold" disabled>No File</button>
                <% end %>
                <%= link_to 'Change', edit_regi_filing_path(filing.regi_id, filing), class: "btn btn-sm btn-outline-success border border-light border-3 rounded-pill px-2 m-2 fw-bold" %>
                <%= button_to "Delete", regi_filing_path(filing.regi_id, filing), method: :delete, class:"btn btn-sm btn-outline-danger border border-light border-3 rounded-pill px-3 m-2 fw-bold", form: { data: { turbo_confirm: "Are you sure?" } } %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
