  <%# render "layouts/navbar" %>

  <h1 class="text-center">Patient Charts</h1>
  <%= render 'layouts/identifier' %>

  <%= link_to 'New Chart', new_regi_chart_path, class: "btn btn-sm btn-outline-dark outline-double rounded-pill px-2 py-0 m-1 fw-bold" %>
  <%= link_to 'Patient Info', regi_patients_path, class:"btn btn-sm btn-outline-primary outline-double rounded-pill px-2 py-0 m-1 fw-bold" %>
  <%= link_to 'Patient Files', regi_filings_path, class:"btn btn-sm btn-outline-info outline-double rounded-pill px-2 py-0 m-1 fw-bold" %>
  <%= link_to 'Previous Page', :back, class:"btn btn-sm btn-outline-secondary outline-double rounded-pill px-2 py-0 m-1 fw-bold" %>
  <button onclick="window.print()", class="btn btn-sm btn-outline-success outline-double rounded-pill px-2 py-0 m-1 fw-bold" >Print This Page</button>

  <table class="table table-sm table-striped table-hover mt-1">
    <thead class="table-info fs-6">
      <tr>
        <th style="width:145px">Dated on</th>
        <th style="width:20vw">Subjective</th>
        <th style="width:10vw">Objective</th>
        <th style="width:10vw">Assessment</th>
        <th style="width:50vw">Plan</th>
      </tr>
    </thead>
    </tbody>
      <% @regi.charts.order("t_date DESC").each do |chart| %>
        <tr style="height:15px">
          <td><%= link_to chart.t_date, regi_chart_path(@regi,chart) %></td>
          <td><%= chart.subj %></td>
          <td><%= chart.obj %></td>
          <td><%= chart.assess %></td>
          <td><%= chart.plan %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

