<%# render "layouts/navbar" %>

  <%= form_with(model: [@regi, @patient]) do |f| %>
    <% if @patient.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

        <ul>
        <% @patient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.text_field :name, value: (@regi.last_name + ", " + @regi.first_name + " " + (@regi.init? ? (@regi.init + ".") : '' )), hidden: true %>
  
    <div class="row fs-6">
      <div class="col-md-2">
        <b><%= f.label :v_date, "Updated on", class:"form-label mt-1 mb-0" %></b>
        <%= f.date_field :v_date, class: "form-control form-control-sm form-control-sm border-primary fs-4" %>
      </div>
      <div class="col-md-4">
        <b><%= f.label :street, "Street", class:"form-label mt-1 mb-0" %></b>
        <%= f.text_field :street, class: "form-control form-control-sm border-primary fs-4" %>
      </div>
      <div class="col-md-3">
        <b><%= f.label :city, "City", class:"form-label mt-1 mb-0" %></b>
        <%= f.text_field :city, class: "form-control form-control-sm border-primary fs-4" %>
      </div>
      <div class="col-md-1">
        <b><%= f.label :state, "State", class:"form-label mt-1 mb-0" %></b>
        <%= f.text_field :state, class: "form-control form-control-sm border-primary fs-4" %>
      </div>
      <div class="col-md-2">
        <b><%= f.label :zip, "Zip Code", class:"form-label mt-1 mb-0" %></b>
        <%= f.text_field :zip, class: "form-control form-control-sm border-primary fs-4" %>
      </div>
      
    </div>

    <div class="row fs-6">
      <div class="col-md-3">
        <b><%= f.label :cell, "Cell Phone", class:"form-label mt-1 mb-0" %></b>
        <%= f.text_field :cell, class: "form-control form-control-sm border-primary fs-4" %>
      </div>
      <div class="col-md-3">
        <b><%= f.label :home, "Home Phone", class:"form-label mt-1 mb-0" %></b>
        <%= f.text_field :home, class: "form-control form-control-sm border-primary fs-4" %>
      </div>
      <div class="col-md-3">
        <b><%= f.label :work, "Work Phone", class:"form-label mt-1 mb-0" %></b>
        <%= f.text_field :work, class: "form-control form-control-sm border-primary fs-4" %>
      </div>
      <div class="col-md-3">
        <b><%= f.label :email, "Email", class:"form-label mt-1 mb-0" %></b>
        <%= f.email_field :email, class: "form-control form-control-sm border-primary fs-4" %>
      </div>
      
    </div>

    <div class="row fs-6">
    <div class="col-md-2">
      <b><%= f.label :height, "Height", class:"form-label mt-1 mb-0" %></b>
      <%= f.number_field :height, step: 0.1, class: "form-control form-control-sm border-primary fs-4" %>
    </div>
    <div class="col-md-2">
      <b><%= f.label :weight, "Weight", class:"form-label mt-1 mb-0" %></b>
      <%= f.number_field :weight, step: 0.1, class: "form-control form-control-sm border-primary fs-4" %>
    </div>
    <div class="col-md-2">
      <b><%= f.label :m_stat, "Marital Status", class:"form-label mt-1 mb-0" %></b><br>
      <%= f.select :m_stat, Patient::MARITAL_STATUS, class: "form-select" %>
    </div>

    <div class="col-md-2">
    <b><%= f.label :occup, "Occupation", class:"form-label mt-1 mb-0" %></b>
    <%= f.text_field :occup, class: "form-control form-control-sm border-primary fs-4" %>
  </div> 
  <div class="col-md-2">
    <b><%= f.label :company, "Company", class:"form-label mt-1 mb-0" %></b>
    <%= f.text_field :company, class: "form-control form-control-sm border-primary fs-4" %>
  </div> 
  <div class="col-md-2">
    <b><%= f.label :referred, "Referred by", class:"form-label mt-1 mb-0" %></b>
    <%= f.text_field :referred, class: "form-control form-control-sm border-primary fs-4" %>
  </div> 

  </div>
    <div class="row fs-6">
      <div class="col-md-4">
        <b><%= f.label :com1, "Complaint 1", class:"form-label mt-1 mb-0" %></b>
        <%= f.text_field :com1, class: "form-control form-control-sm border-primary fs-4" %>
      </div>
      <div class="col-md-4">
        <b><%= f.label :com2, "Complaint 2", class:"form-label mt-1 mb-0" %></b>
        <%= f.text_field :com2, class: "form-control form-control-sm border-primary fs-4" %>
      </div>
      <div class="col-md-4">
        <b><%= f.label :com3, "Complaint 3", class:"form-label mt-1 mb-0" %></b>
        <%= f.text_field :com3, class: "form-control form-control-sm border-primary fs-4" %>
      </div>
    </div>

    <div class="row fs-6">
      <div class="col-md-2">
        <b><%= f.label :d_onset, "Date Onset", class:"form-label mt-1 mb-0" %></b>
        <%= f.date_field :d_onset, class: "form-control form-control-sm border-primary fs-4" %>
      </div>
      <div class="col-md-2">
        <b><%= f.label :pain_scale, "Pain Scale 1-10", class:"form-label mt-1 mb-0" %></b>
        <%= f.number_field :pain_scale, in: 0..10, class: "form-control form-control-sm border-primary fs-4" %>
      </div>
      <div class="col-md-5">
        <b><%= f.label :diag_given, "Any diagnoses given?", class:"form-label mt-1 mb-0" %></b>
        <%= f.text_field :diag_given, class: "form-control form-control-sm border-primary fs-4" %>
      </div>
      <div class="col-md-3">
        <b><%= f.label :aq_b4, "Had acupunture?", class:"form-label mt-1 mb-0" %></b><br>
        <%= f.select :aq_b4, Patient::ACU_BEFORE, class: "form-control form-control-sm border-primary fs-4" %>
      </div>
    </div>

    <div class="row fs-6">
      <div class="col-md-12 fs-4">
        <b><%= f.label :di_list, "Major Health Issues:", class:"form-label mt-2 mb-0 fs-6" %></b><br>
        
        <% Patient::HEALTH.each do |h| %>
          <%= f.check_box :di_list, { multiple: true, checked: f.object.di_list&.include?(h.to_s)}, h, nil %>
          <%= f.label h %>
        <% end %>
      </div>
    </div>

    <div class="row fs-6">
      <div class="col-md-7">
        <b><%= f.label :o_dis, "Other Issues", class:"form-label mt-1 mb-0" %></b>
        <%= f.text_field :o_dis, class: "form-control form-control-sm border-primary fs-4" %>
      </div>
      <div class="col-md-2">
        <i>Female patient:</i>
        <b><%= f.label :last_prd, "Date last period", class:"form-label mt-1 mb-0" %></b>
        <%= f.date_field :last_prd, class: "form-control form-control-sm border-primary fs-4" %>
      </div>
      <div class="col-md-1">
        <b><%= f.label :preg, "Are you pregnant?", class:"form-label mt-1 mb-0 select-label" %></b><br>
        <%= f.select :preg, Patient::PREG, class: "pt-3 form-select form-select-lg border-primary fs-4" %>
      </div>
      <div class="col-md-2">
        <b><%= f.label :preg_wks, "In weeks?", class:"form-label mt-1 mb-0" %></b>
        <%= f.number_field :preg_wks, class: "form-control form-control-sm border-primary fs-4" %>
      </div>
    </div>

    <br>   

    <div class="btn-group" role="group">
        <%= f.submit "Submit", data: { burbo: false}, class:'btn btn-success btn-sm border border-dark m-2 ps-4 pe-4 rounded-pill' %>
  <% end %>
        <%= button_to 'Delete', [@regi,@patient], method: :delete, class:"btn btn-danger btn-sm border border-dark rounded-pill px-3 m-2 fw-bold", form: { data: { turbo_confirm: 'Are you sure?' }  } %>
        <%= link_to "Return", :back, class:'btn btn-info btn-sm border border-dark rounded-pill px-3 m-2 fw-bold' %>
    </div>