<%# render "layouts/navbar" %>


  <h1 class="text-center">Patient Information</h1>
  <%= render 'layouts/identifier' %>
  
    <%= link_to 'New Record', new_regi_patient_path, class: "btn btn-sm btn-outline-dark outline-double rounded-pill px-2 py-0 m-1 fw-bold" %>
    <%= link_to 'Patient Charts', regi_charts_path, class:"btn btn-sm btn-outline-info outline-double rounded-pill px-2 py-0 m-1 fw-bold" %>
    <%= link_to 'Patient Files', regi_filings_path, class:"btn btn-sm btn-outline-primary outline-double rounded-pill px-2 py-0 m-1 fw-bold" %>
    <%= link_to 'Patient List', regis_path, class:"btn btn-sm btn-outline-secondary outline-double rounded-pill px-2 py-0 m-1 fw-bold" %>
    <%= link_to 'Previous Page', :back, class:"btn btn-sm btn-outline-success outline-double rounded-pill px-2 py-0 m-1 fw-bold" %>

    <table class="table table-sm table-striped table-hover mt-1">
    <thead class="table-success fs-6">
      <tr>
        <th style="width:145px">Created on</th>
        <th style="width:145px">Updated on</th>
        <th>Contact Info</th>
        <th>Weight</th>
        <th>Complaints</th>
        <th>Onset/Pain</th>
        <th>Referred by</th>
        <th>Health Issues</th>
      </tr>
    </thead>

    <tbody>

      <% @regi.patients.order("v_date DESC").each do |patient| %>
        <tr>
          <td>
            <%= (patient.created_at - 5*3600).strftime("%Y-%m-%d, %H:%M") %>
          </td>
          <td>
              <%= link_to patient.v_date, regi_patient_path(@regi,patient) %>
          </td>  
          <td>
            <%= patient.street %><%= ', ' if patient.street? %>
            <%= patient.city %>
            <%= patient.state %>
            <%= patient.zip %>
            <%= 'C: ' if patient.cell? %><%= patient.cell %>
            <%= 'H: ' if patient.home? %><%= patient.home %>
            <%= 'W: ' if patient.work? %><%= patient.work %>
            <%= 'E: ' if patient.email? %><%= patient.email %>
          </td>
          <td>
            <%= patient.weight %>
          </td>
          <td>
            <%= patient.com1.strip if patient.com1? %>
            <%= ' / ' + patient.com2.strip if patient.com2? %>
            <%= ' / ' + patient.com3.strip if patient.com3? %>
          </td>
          <td>
            <%= patient.d_onset %><%= '/Pain: ' if patient.pain_scale? %>
            <%= patient.pain_scale %>
          </td>
          <td><%= patient.referred %></td>
          <td>
            <%= patient.di_list.to_sentence(words_connector: '/', last_word_connector: '/').gsub(/_/, ' ').gsub(/;/, '') if patient.di_list != "" %>  
            <%# patient.di_list.gsub(/_/, ' ').gsub(/;/, '').gsub(/"/, '').gsub(/\]/, '').gsub(/\[/, '') if patient.di_list? %>
            <%= ' and ' + patient.o_dis if patient.o_dis? %>
            <%= 'and Pregnant' if patient.preg == 'Yes' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>