<p id="notice"><%= notice %></p>

<p>
  <b>V date:</b>
  <%= @patient.v_date %>
</p>

<p>
  <b>Name:</b>
  <%= @patient.name %>
</p>

<p>
  <b>Street:</b>
  <%= @patient.street %>
</p>

<p>
  <b>City:</b>
  <%= @patient.city %>
</p>

<p>
  <b>State:</b>
  <%= @patient.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @patient.zip %>
</p>

<p>
  <b>Cell:</b>
  <%= @patient.cell %>
</p>

<p>
  <b>Home:</b>
  <%= @patient.home %>
</p>

<p>
  <b>Work:</b>
  <%= @patient.work %>
</p>

<p>
  <b>Email:</b>
  <%= @patient.email %>
</p>

<p>
  <b>Height:</b>
  <%= @patient.height %>
</p>

<p>
  <b>Weight:</b>
  <%= @patient.weight %>
</p>

<p>
  <b>M stat:</b>
  <%= @patient.m_stat %>
</p>

<p>
  <b>Occup:</b>
  <%= @patient.occup %>
</p>

<p>
  <b>Company:</b>
  <%= @patient.company %>
</p>

<p>
  <b>Referred:</b>
  <%= @patient.referred %>
</p>

<p>
  <b>Comp1:</b>
  <%= @patient.comp1 %>
</p>

<p>
  <b>Comp2:</b>
  <%= @patient.comp2 %>
</p>

<p>
  <b>Comp3:</b>
  <%= @patient.comp3 %>
</p>

<p>
  <b>D onset:</b>
  <%= @patient.d_onset %>
</p>

<p>
  <b>Pain scale:</b>
  <%= @patient.pain_scale %>
</p>

<p>
  <b>Diag given:</b>
  <%= @patient.diag_given %>
</p>

<p>
  <b>Aq b4:</b>
  <%= @patient.aq_b4 %>
</p>

<p>
  <b>Di list:</b>
  <%= @patient.di_list %>
</p>

<p>
  <b>O dis:</b>
  <%= @patient.o_dis %>
</p>

<p>
  <b>Last prd:</b>
  <%= @patient.last_prd %>
</p>

<p>
  <b>Preg:</b>
  <%= @patient.preg %>
</p>

<p>
  <b>Preg wks:</b>
  <%= @patient.preg_wks %>
</p>


<%= link_to 'Edit', edit_regi_patient_path(@patient.regi, @patient) %> |
<%= link_to 'Back', regi_patients_path(@patient.regi) %>
