<h1 class="card-title text-center pb-2">Patient Registration</h1>

<div class="card mt-0 mx-auto p-4 border-primary shadow" style="width: 35rem;">

  <%= form_with(model: @regi) do |form| %>
    <% if @regi.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@regi.errors.count, "error") %> prohibited this regi from being saved:</h2>

        <ul>
          <% @regi.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row mt-3 d-flex">
      <div class="col col-md-3 text-nowrap align-self-center", style="vertical-align: middle;">
        <b><%= form.label :last_name, "Last Name" %></b>
      </div>
      <div class="col col-md-9">
        <%= form.text_field :last_name, autofocus: true, class:"form-control form-control-sm border-primary fs-4" %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col col-md-3 pt-1 text-nowrap align-self-center">
        <b><%= form.label :first_name, "First Name" %></b>
      </div>
      <div class="col col-md-9">
        <%= form.text_field :first_name, class:"form-control form-control-sm border-primary fs-4" %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col col-md-3 pt-1 text-nowrap align-self-center">
        <b><%= form.label :init, "Middle Inital" %></b>
      </div>
      <div class="col col-md-9">
        <%= form.text_field :init, class:"form-control form-control-sm border-primary fs-4" %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col col-md-3 pt-1 text-nowrap align-self-center">
        <b><%= form.label :gender, "Gender" %></b>
      </div>
      <div class="col col-md-9">
        <%= form.select :gender, Regi::GENDER_OPTIONS, 
        { }, 
        { class:"form-select form-select-sm border-primary fs-5" } %>
      </div>
    </div>
  
    <div class="row mt-3">
      <div class="col col-md-3 pt-1 text-nowrap align-self-center">
      <b><%= form.label :dob, "Date of Birth" %></b>
      </div>
      <div class="col col-md-9">
        <%= form.date_field :dob, class:"form-control form-control-sm border-primary fs-4" %>
      </div>
    </div>
  
    <div class="btn-group m-2 pt-2" role="group"> 
      <%= form.submit "Save", class: "btn btn-sm btn-outline-dark outline-double rounded-pill px-3 m-2 fw-bold" %>
  <% end %>      
      <%= button_to "Delete", @regi, method: :delete, class:"btn btn-sm btn-outline-danger outline-double rounded-pill px-3 m-2 fw-bold" %>
      <%= link_to "Patient List", regis_path, class: "btn btn-sm btn-outline-success outline-double rounded-pill px-1 m-2 fw-bold" %>     
      <%= link_to "Go Back", :back, class:"btn btn-sm btn-outline-info outline-double rounded-pill px-2 m-2 fw-bold" %>
    </div>
</div>