<div id="<%= dom_id regi %>">
  <div>
    <strong>Last name:</strong>
    <%= regi.last_name %>
  </div>

  <div>
    <strong>First name:</strong>
    <%= regi.first_name %>
  </div>

  <div>
    <strong>Init:</strong>
    <%= regi.init %>
  </div>

  <div>
    <strong>Gender:</strong>
    <%= regi.gender %>
  </div>

  <div>
    <strong>Dob:</strong>
    <%= regi.dob %>
  </div>

</div>
